html, body{
    
    background: linear-gradient(135deg, #00aaff, #00ff6a);
    scroll-behavior: smooth;
}

.sidebar{
    min-height: 100%;
    height: 100vh;
    position: fixed;
    
}

.center-content{
    display: flex;
    height: 100px !important;
    padding-top: 50px;
}

.btn-publi{
    height: 50px;
    width: 700px;
}

.post {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-img {
    width: 100%;
    height: auto;
}
.post-actions {
    padding: 10px;
}
.post-actions .btn {
    font-size: 1.5rem;
}
.post-caption {
    padding: 10px;
}
.comment-section {
    padding: 10px;
    border-top: 1px solid #dbdbdb;
}
.comment-section textarea {
    width: 100%;
    border: none;
    padding: 5px;
    resize: none;
}

 .body-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }

 .card-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

 .card-body {
    padding: 2rem;
 }

 .form-label {
    color: #333;
    font-weight: bold;
 }

 .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
 }

 .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
 }

 .card-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff;
 }

 .card-link:hover {
    text-decoration: underline;
 }

 .input-group-text {
    background-color: #007bff;
    color: #fff;
 }

 .input-group .form-control {
    border-left: 0;
 }

 .profile-content{
    padding-left: 300px !important;
    
 }

 .profile-header {
    margin: 50px 0;
}
.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile-header h2 {
    margin-top: 20px;
    font-weight: bold;
}
.profile-header p {
    color: #888;
}
.profile-stats {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.profile-stats div {
    text-align: center;
}
.profile-stats div span {
    font-size: 20px;
    font-weight: bold;
}
.profile-stats div p {
    margin: 0;
    color: #888;
}
.edit-profile-btn {
    margin-top: 20px;
}
.post-gallery {
    margin-top: 50px;
}
.post-gallery img {
    width: 100%;
    height: auto;
    margin: 1px;
}